
.sidenav-container {
  height: 100%;
}

.bgcolor{
  background-color: rgb(0, 0, 0);
}
.textColorWhite{
  color: white;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar{
  justify-content: space-between;
}

span{
  padding-right: 2rem; 
}
