<div class="container">
    <div class="col3">
      <mat-card class="example-card hoverCard contorno">
        <mat-card-header>    
          <mat-card-title>Halo</mat-card-title>
          <mat-card-subtitle>Acción / Ciencia Ficción</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/halo.jpg" alt="Photo of a Shiba Inu" class="img200px">
        <mat-card-content>
          <p>
            Conoce la asombrosa saga de Halo y sigue al Jefe Maestro en su aventura
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>VER</button>
          <button mat-button>LIKE</button>
        </mat-card-actions>
      </mat-card>
    
      <mat-card class="example-card hoverCard contorno">
        <mat-card-header>    
          <mat-card-title>Borderlands</mat-card-title>
          <mat-card-subtitle>Acción / Aventura</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/borderlands.jpg" alt="Photo of a Shiba Inu" class="img200px">
        <mat-card-content>
          <p>
            Viaja directo a Pandora junto con los buscadores de la cámara
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>VER</button>
          <button mat-button>LIKE</button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card class="example-card hoverCard contorno">
        <mat-card-header>    
          <mat-card-title>Final Fantasy</mat-card-title>
          <mat-card-subtitle>Fantasia / Aventura</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/final.jpeg" alt="Photo of a Shiba Inu" class="img200px">
        <mat-card-content>
          <p>
            Disfruta de asombrosas historias y un gameplay sin igual
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>VER</button>
          <button mat-button>LIKE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>