<div class="container">
  <div class="col3">
    <mat-card class="example-card hoverCard">
      <mat-card-header>    
        <mat-card-title>Alimentación</mat-card-title>
        <mat-card-subtitle>Necesario</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/alimentacion.jpg" alt="Photo of a Shiba Inu" class="img300px">
      <mat-card-content>
        <p>
          Algunas tips y recomendaciones que puedes tomar en cuenta para mejorar tu alimentación, junto con 
          recetas fáciles y saludables!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>VER</button>
        <button mat-button>LIKE</button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="example-card hoverCard">
      <mat-card-header>    
        <mat-card-title>Ejercicio</mat-card-title>
        <mat-card-subtitle>Recomendado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/ejercicio.jpg" alt="Photo of a Shiba Inu" class="img300px">
      <mat-card-content>
        <p>
          Algunas tips y recomendaciones que puedes tomar en cuenta para mejorar tu alimentación, junto con 
          recetas fáciles y saludables!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>VER</button>
        <button mat-button>LIKE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card hoverCard">
      <mat-card-header>    
        <mat-card-title>Descanso</mat-card-title>
        <mat-card-subtitle>Esencial</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/descanso.jpg" alt="Photo of a Shiba Inu" class="img300px">
      <mat-card-content>
        <p>
          Algunas tips y recomendaciones que puedes tomar en cuenta para mejorar tu alimentación, junto con 
          recetas fáciles y saludables!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>VER</button>
        <button mat-button>LIKE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>